//border-radius
$br30: 30px;
$br15: 15px;
$br10: 10px;

//font-weight
$font400: 400;
$font500: 500;
$font800: 800;

//color
$black: #000;
$gray: #808080;
$white: #fff;

//breakpoints
$bp400: 400px;
$bp500: 500px;
$bp800: 800px;

//margin-bottom
$mg-bot10: 10px;
$mg-bot40: 40px;