// ================================
// BORDER RADIUS
// ================================

$br20: 20px;
$br15: 15px;
$br10: 10px;


// ================================
// FONT WEIGHT
// ================================

$font400: 400;
$font500: 500;
$font800: 800;


// ================================
// COLORS
// ================================

$black: #000;
$dark-gray: #363636;
$gray: #808080;
$white: #fff;
$red: #D32F2F;


// ================================
// BREAKPOINTS
// ================================

$bp400: 400px;
$bp500: 500px;
$bp540: 540px;
$bp800: 800px;
$bp900: 900px;
$bp1200: 1200px;


// ================================
// MARGIN BOTTOM
// ================================

$mg-bot10: 10px;
$mg-bot40: 40px;


// ================================
// SPACING
// ================================

$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 25px;
$gap-xl: 40px;


// ================================
// SIZES
// ================================

$sidebar-width: 290px;

$card-radius: 30px;
$input-radius: 10px;
$btn-radius: 15px;

$btn-width: 250px;
$btn-height: 50px;

$btn-small-width: 100px;
$btn-small-height: 30px;


// ================================
// TRANSITIONS
// ================================

$transition: 0.25s;
$transition-md: 0.3s;
