@use '../utils/variables' as v;
@use '../utils/mixins' as m;


.login {
  &__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  &__title {
    @include m.title-base;
    font-size: 48px;
    margin-bottom: v.$mg-bot10;
    
    @media (max-width: v.$bp400) {
      font-size: 40px;
    }
  }

  &__subtitle {
  @include m.subtitle-base;
    font-weight: v.$font400;
    font-size: 12px;
    margin-bottom: v.$mg-bot40;
  }
}