@use '../utils/variables' as v;

.aside {
  border: 1px solid v.$black;
  border-radius: 10px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  width: 19%;
  min-height: 366px;

  @media(width <=v.$bp650) {}

  &__btn-create-folder {
    margin-bottom: 20px;
    border: 1px solid v.$black;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    width: 100%;

    @media(width <=v.$bp750) {
      width: fit-content;
    }
  }

  &__folder {
    &-title {
      margin-bottom: 10px;
      font-weight: v.$font400;
      font-size: 16px;
    }

    &-list {
      margin-bottom: auto;
      width: 100%;
    }

    &-img {
      @media(width <=v.$bp750) {
        display: none;
      }
    }
  }

  &__trash-img {
    @media(width <=v.$bp750) {
      display: none;
    }
  }

  &__note-title {
    font-size: 28px;
    font-weight: v.$font400;
    align-self: center;
    margin-bottom: 12px;
  }

  &__list-text {
    font-size: 14px;
  }

  &__note {
    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-item {
      border: 1px solid v.$black;
      border-radius: v.$br8;
      padding: 2px 6px;
      width: 100%;
    }

    &-btn {
      border: 1px solid v.$black;
      border-radius: v.$br8;
      padding: 2px 6px;
      width: fit-content;
      align-self: center;
    }
  }
}