@use '../utils/variables' as v;

.header {
  &__inner {
    display: flex;
    align-items: center;
    padding-block: v.$gap-lg;
  }

  &__brand {
    margin-left: 70px;

    @media (max-width: v.$bp800) {
      margin-left: v.$gap-md;
    }
  }

  &__logo-text {
    font-size: 24px;
  }
}