@use '../utils/variables' as v;

.header {
  &__inner {
    display: flex;
    align-items: center;
    padding-block: 25px;

    &--app {
      justify-content: space-between;
    }
  }

  &__1340 {
    max-width: 1340px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__menu-img {
    display: none;
    width: 30px;
    height: 30px;

    @media(width <= v.$bp650) {
      display: block;
    }
  }
}