@use '../utils/variables' as v;

.brand {
  display: flex;
  align-items: center;
  gap: v.$gap-sm;

  &-text {
    font-weight: v.$font800;
    color: v.$black;
}

  &-text--sm {
    font-size: 24px;
}
}

