@use '../utils' as v;

.brand {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    font-weight: v.$font800;
    color: v.$black;
    font-size: 24px;

    @media (max-width: v.$bp800) {
      font-size: 18px;
    }
  }
}
